.footer {
    overflow: hidden;
    padding-bottom: 50px;
}

.footer-icon {
    margin-right: 15px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s;
}

.footer-icon:hover {
    color: #394CFF;
}

.footer-container h4 {
    margin-bottom: 30px;
    font-weight: 700;
}

.social-icons {
    margin-top: 30px;
}

.footer-item {
    padding: 20px;
    overflow: hidden;
}

.footer-item h6 {
    font-weight: 600;
}

.footer-item a {
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 15px;
    transition: all 0.3s;
}

.footer-item a:hover {
    color: #394CFF;
}